<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339034791583-elbr8acoopvok9dc2393od2gp1ud4nd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339034791583-elbr8acoopvok9dc2393od2gp1ud4nd1</string>
	<key>API_KEY</key>
	<string>AIzaSyBfIjvKJMt18bILSBbfba4PSvKtgGcPEck</string>
	<key>GCM_SENDER_ID</key>
	<string>339034791583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.banyone</string>
	<key>PROJECT_ID</key>
	<string>banyone-bce0f</string>
	<key>STORAGE_BUCKET</key>
	<string>banyone-bce0f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339034791583:ios:cc3f500e909c1d8acf0caa</string>
</dict>
</plist>